<h1>Professional Experience</h1>
<p class="mb-0"><em>Virginia Tech University Libraries</em></p>
<ul>
    <li>2024&ndash; Associate Dean and Executive Director for IT (Associate Professor)</li>
    <li>2023&ndash;2024 Associate Dean and Executive Director for IT (Assistant Professor)</li>
    <li>2018&ndash;2023 Assistant Dean and Director for IT (Assistant Professor)</li>
    <li>2016&ndash;2018 Director for IT Services (Lecturer)</li>
</ul>
<p class="mb-0"><em>University of Illinois at Urbana-Champaign Library</em></p>
<ul>
    <li>2014&ndash;2016 Manager, Scholarly Communication and Repository Services</li>
    <li>2010&ndash;2014 Research Programmer</li>
    <li>2008&ndash;2010 Visiting Research Programmer</li>
</ul>
<p class="mb-0"><em>Rare Book School, University of Virginia</em></p>
<ul>
    <li>2005&ndash;2007 Assistant Director for Programs</li>
</ul>
<h2>Professional contributions</h2>
<ul>
    <li>2023 Reviewer, International Journal on Digital Libraries (IJDL)</li>
    <li>2023 Member, Program Committee, 27th International Conference on Theory and Practice of Digital Libraries (TPDL
        ’23), Zadar, Croatia</li>
    <li>2023 Member, Program Committee, 23rd ACM/IEEE Joint Conference on Digital Libraries in 2023 (JCDL ’23), Santa
        Fe, NM</li>
    <li>2023 Member, Program Committee, 26th International Symposium on Electronic Theses and Dissertations (ETD 2023),
        Kevadia, Gujarat, India</li>
    <li>2022 Member, Program Committee, 25th International Symposium on Electronic Theses and Dissertations (ETD 2022),
        Nova Sad, Serbia</li>
    <li>2022 Member, Program Committee, 22nd ACM/IEEE Joint Conference on Digital Libraries in 2022 (JCDL ’22), Cologne,
        Germany</li>
    <li>2021 Member, Program Committee, ACM/IEEE Joint Conference on Digital Libraries in 2021 (JCDL ’21),
        Urbana-Champaign, Illinois. </li>
    <li>2020 Member, Reviewing Committee, ETD2020 Virtual Conference, Al Ain, Abu Dhabi, United Arab Emirates</li>
    <li>2020 Member, Program Committee, ACM/IEEE Joint Conference on Digital Libraries in 2020 (JCDL ’20), Wuhan, China.
    </li>
    <li>2020 Subreviewer, 43rd International ACM SIGIR Conference on Research and Development in Information Retrieval
        (SIGIR 2020), Xi'an, China.</li>
    <li>2019&ndash; Member, Board of Directors, Networked Digital Library of Theses and Dissertations (NDLTD).</li>
    <li>2018 Member, Program Committee, ACM/IEEE Joint Conference on Digital Libraries in 2018 (JCDL ’18), Fort Worth,
        Texas</li>
    <li>2018&ndash; Representative, Coalition for Networked Information (CNI)</li>
    <li>2015&ndash;2016 Member, DSpace Leadership Committee, DuraSpace</li>
    <li>2014&ndash;2016 Member, CSV on the Web, W3C Working Group</li>
</ul>
<h2>Education</h2>
<ul>
    <li>Ph.D. (in progress), Computer Science, Virginia Tech, 2025 (expected)</li>
    <li>M.S., Library and Information Science, University of Illinois at Urbana-Champaign, 2008</li>
    <li>B.A., Cognitive Science, University of Virginia, 2005</li>
</ul>