<header class="navbar navbar-expand-md navbar-dark bg-dark">
    <nav class="container-xxl flex-wrap flex-md-nowrap d-flex" aria-label="Main navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
        <a class="navbar-brand site-brand me-auto" href="{{ '/' | relative_url }}" aria-label="William A. Ingram home">
            <span class="site-brand-mark">WAI</span>
            <span class="site-brand-name">William A. Ingram</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar"
            aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                </path>
            </svg>
        </button>

        <div class="collapse navbar-collapse" id="bdNavbar">
            <ul
                class="navbar-nav bd-navbar-nav pt-3 py-md-0 text-small col-12 col-lg-auto my-2 ms-md-auto">
                <li class="nav-item">
                    <a class="nav-link p-2 {% if page.url == '/' %}active{% endif %}"
                        href="{{ '/' | relative_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 {% if page.url contains '/experience' %}active{% endif %}"
                        href="{{ '/experience/' | relative_url }}">Professional Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 {% if page.url contains '/publications' %}active{% endif %}"
                        href="{{ '/publications/' | relative_url }}">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 {% if page.url contains '/research' %}active{% endif %}"
                        href="{{ '/research/' | relative_url }}">Research</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2 {% if page.url contains '/blog' %}active{% endif %}"
                        href="{{ '/blog/' | relative_url }}">Blog</a>
                </li>
            </ul>

            <div class="theme-switcher ms-md-2" data-theme-switcher>
                <button class="theme-toggle" type="button" data-theme-toggle aria-label="Theme: System"
                    aria-haspopup="menu" aria-expanded="false" aria-controls="theme-menu">
                    <svg class="theme-toggle-svg" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                        <g data-theme-icon="system">
                            <circle cx="12" cy="12" r="9"></circle>
                            <path d="M12 3a9 9 0 0 1 0 18z"></path>
                        </g>
                        <g data-theme-icon="light" hidden>
                            <circle cx="12" cy="12" r="4"></circle>
                            <path d="M12 2v2"></path>
                            <path d="M12 20v2"></path>
                            <path d="m4.93 4.93 1.41 1.41"></path>
                            <path d="m17.66 17.66 1.41 1.41"></path>
                            <path d="M2 12h2"></path>
                            <path d="M20 12h2"></path>
                            <path d="m6.34 17.66-1.41 1.41"></path>
                            <path d="m19.07 4.93-1.41 1.41"></path>
                        </g>
                        <g data-theme-icon="dark" hidden>
                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                        </g>
                    </svg>
                    <span class="visually-hidden" data-theme-toggle-label>Theme: System</span>
                </button>
                <div class="theme-menu" id="theme-menu" role="menu" aria-label="Theme" data-theme-menu hidden>
                    <button class="theme-menu-item" type="button" role="menuitemradio" aria-checked="true"
                        data-theme-choice="system">
                        <span>System</span>
                    </button>
                    <button class="theme-menu-item" type="button" role="menuitemradio" aria-checked="false"
                        data-theme-choice="light">
                        <span>Light</span>
                    </button>
                    <button class="theme-menu-item" type="button" role="menuitemradio" aria-checked="false"
                        data-theme-choice="dark">
                        <span>Dark</span>
                    </button>
                </div>
            </div>

        </div>
    </nav>
</header>
