<p class="lead drop-cap" itemprop="description"><span itemprop="name">William A. Ingram</span>,
  associate professor at <a href="//vt.edu/">Virginia Tech</a>, is associate dean and
  executive director for information technology in the <a href="//lib.vt.edu/">University Libraries</a>.
</p>
<p>Ingram's research involves devising methods for computational
  analysis and use of the large digital collections held by libraries
  and archives. He is especially interested in <a href="//opening-etds.github.io/">electronic theses and
    dissertations</a>. Because they are long and contain multiple
  chapters, they more resemble books than research articles. His aim is
  to use methods for information extraction, classification, and
  summarization to uncover the knowledge and data buried in this rich
  corpus of graduate research to facilitate its discovery and equitable use.</p>
<p>Ingram received a B.A. in <span itemprop="knowsAbout">cognitive science</span> from the
  <a href="//virginia.edu/">University Of Virginia</a> and
  an M.S. in <a href="//lis.illinois.edu/" itemprop="knowsAbout">Library
    and Information Science</a>
  from the <a href="//illinois.edu/" itemprop="alumniOf">University of Illinois at
    Urbana-Champaign</a> in 2008. Since then, he has been involved in
  projects and services related to <span itemprop="knowsAbout">scholarly communication</span>,
  <span itemprop="knowsAbout">digital preservation</span>, repositories and
  <span itemprop="knowsAbout">digital libraries</span>. He is currently
  pursuing a Ph.D. in <a href="//cs.vt.edu/">Computer Science</a> at
  Virginia Tech, under the supervision of Professor <a href="//fox.cs.vt.edu">Edward A. Fox</a>, with a
  dissertation
  focused on the application of
  <span itemprop="knowsAbout">NLP and machine/deep learning to large-scale scholarly data</span>.
  In 2019, he was awarded a 3-year
  National Digital Infrastructures research grant from the
  <span itemprop="sponsor">Institute of Museum and Library Services</span>
  (<a href="//www.imls.gov/grants/awarded/lg-37-19-0078-19">LG-37-19-0078-19</a>)
  to study the application of computational methods and resources to
  large corpora of <span itemprop="knowsAbout">electronic theses and dissertations</span>.
</p>
<h2>News</h2>
<ul>
  {% for item in site.data.news %}
    <li><strong>{{ item.date }}</strong> {{ item.content }}</li>
  {% endfor %}
</ul>