<div class="h-card" itemscope itemtype="http://schema.org/Person" itemprop="mainEntity" >
  <meta itemprop="url" content="#waingram"/>
  <meta itemprop="name" content="William A. Ingram" />
  <meta itemprop="name" content="Bill Ingram" />
  <meta itemprop="givenName" content="William" />
  <meta itemprop="familyName" content="Ingram" />
  <meta itemprop="additionalName" content="Bill" />
  <p class="lead drop-cap" itemprop="description"><span itemprop="name">William A. Ingram</span> is an
    <span itemprop="worksFor" itemscope itemtype="https://schema.org/EmployeeRole">
      <span itemprop="roleName">associate professor</span> at
      <span itemprop="worksFor" itemscope itemtype="https://schema.org/CollegeOrUniversity" itemid="#vt">
        <a href="//vt.edu/"><span itemprop="name">Virginia Tech</span></a>,
        <meta itemprop="sameAs" content="//vt.edu/" />
      </span></span> where he serves as
    <span itemprop="worksFor" itemscope itemtype="https://schema.org/EmployeeRole">
      <span itemprop="roleName">Associate Dean and Executive Director for IT</span> for the
      <span itemprop="worksFor" itemscope itemtype="https://schema.org/LibrarySystem" itemid="#vtul">
        <link itemprop="parentOrganization" href="#vt" />
        <a href="//lib.vt.edu/"><span itemprop="name">University Libraries</span></a>
        <meta itemprop="sameAs" content="//lib.vt.edu/" />
      </span></span>
    and
    <span itemprop="worksFor" itemscope itemtype="https://schema.org/EmployeeRole">
      <span itemprop="roleName">Director</span> of the
      <span itemprop="worksFor" itemscope itemtype="https://schema.org/ResearchOrganization">
        <link itemprop="parentOrganization" href="#vtul" />
        <a href="//cdrs.lib.vt.edu/"><span itemprop="name">Center for Digital Research and Scholarship</span></a>
        <meta itemprop="sameAs" content="//cdrs.lib.vt.edu/" />
      </span></span>.
  </p>
  <p><span itemprop="name">Ingram</span>'s research is centered on the integration of <span
      itemprop="knowsAbout">AI</span> and <span itemprop="knowsAbout">machine learning</span> with big data applications
    within academic and scholarly contexts. Specifically, he focuses on employing <span itemprop="knowsAbout">natural
      language processing</span> to enrich <span itemprop="knowsAbout">digital library systems</span> and <span
      itemprop="knowsAbout">scholarly data management</span>. <span itemprop="name">Ingram's</span> work aims to develop
    scalable, ethical technical solutions that align with the strategic goals of higher education institutions and
    digital archives, emphasizing innovation and the responsible use of <span itemprop="knowsAbout">AI</span> in <span
      itemprop="knowsAbout">knowledge management</span>.</p>
  <p>Ingram received a
    <span itemprop="hasCredential" itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
      <meta itemprop="credentialCategory" content="degree" />
      <link itemid="recognizedBy" content="#uva" />
      <span itemprop="educationalLevel" itemscope itemtype="https://schema.org/DefinedTerm">
        <span itemprop="name">B.A.</span>
        <meta itemprop="termCode" content="Bachelor of Arts" />
      </span>
    </span>
    in <span itemprop="knowsAbout">cognitive science</span> from the
    <span itemprop="alumniOf" itemscope itemtype="https://schema.org/CollegeOrUniversity" itemid="#uva">
      <a href="//virginia.edu/"><span itemprop="name">University of Virginia</span></a>
      <meta itemprop="sameAs" content="//virginia.edu/" />
    </span>
    and an
    <span itemprop="hasCredential" itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
      <meta itemprop="credentialCategory" content="degree" />
      <link itemid="recognizedBy" content="#uiuc" />
      <span itemprop="educationalLevel" itemscope itemtype="https://schema.org/DefinedTerm">
        <span itemprop="name">M.S.</span>
        <meta itemprop="termCode" content="Master of Science" />
      </span>
    </span>
    in
    <span itemprop="knowsAbout">Library and Information Science</span>
    from the
    <span itemprop="alumniOf" itemscope itemtype="https://schema.org/OrganizationRole">
      <span itemprop="alumniOf" itemscope itemtype="https://schema.org/School">
        <a href="//lis.illinois.edu/"><span itemprop="name">Graduate
            School of Library and Information Science</span></a>
        <meta itemprop="sameAs" content="//lis.illinois.edu/" />
        <link itemprop="parentOrganization" href="#uiuc" />
      </span>
      <span itemprop="alumniOf" itemscope itemtype="https://schema.org/CollegeOrUniversity" itemid="#uiuc">
        <a href=" //illinois.edu/"><span itemprop="name">University of Illinois at
            Urbana-Champaign</span></a>
        <meta itemprop="sameAs" content="//illinois.edu/" />
      </span> in
      <span itemprop="endDate">2008</span></span>.
    Since then, he has been involved in
    projects and services related to <span itemprop="knowsAbout">scholarly communication</span>,
    <span itemprop="knowsAbout">digital preservation</span>, repositories and
    <span itemprop="knowsAbout">digital libraries</span>. He is currently
    pursuing a Ph.D. in <a href="//cs.vt.edu/">Computer Science</a> at
    Virginia Tech, under the supervision of Professor <a href="//fox.cs.vt.edu">Edward A. Fox</a>, with a
    dissertation
    focused on the application of
    <span itemprop="knowsAbout">NLP</span> and <span itemprop="knowsAbout">machine/deep learning</span>
    to large-scale<span itemprop="knowsAbout">scholarly big data</span>.

  </p>
  <h2>News</h2>
  <ul>
    {% for item in site.data.news %}
    <li itemscope itemtype="https://schema.org/Event">
      <meta itemprop="startDate" content="{{ item.date | date: '%Y-%m-%d' }}" />
      <strong><time datetime="{{ item.date | date: '%Y-%m-%d' }}">{{ item.date }}</time></strong>
      <span itemprop="description">{{ item.content }}</span>
    </li>
    {% endfor %}
  </ul>
</div>