<h1>Research, Scholarly, and Creative Achievements</h1>
<p>Check out <a href="//scholar.google.com/citations?user=L-R5NXwAAAAJ">my Google Scholar profile</a>.</p>
<h2>Papers in refereed journals</h2>
<ul>
    <li>William A. Ingram, Jian Wu, Sampanna Yashwant Kahu, Javaid Akbar Manzoor, Bipasha Banerjee, Aman Ahuja, Muntabir
        Hasan Choudhury, Lamia Salsabil, Winston Shields, and Edward A. Fox. 2024. "Building datasets to support
        information extraction and structure parsing from electronic theses and dissertations." International Journal on
        Digital Libraries (May 2024). <a href="https://doi.org/10.1007/s00799-024-00395-4"
            target="_blank">https://doi.org/10.1007/s00799-024-00395-4</a></li>
    <li>Liuqing Li, Jack Geissinger, William A. Ingram, Edward A. Fox. "Teaching Natural Language Processing through Big
        Data Text Summarization with Problem-Based Learning." Data and Information Management, ISSN:2543-9251, 4(1):
        18-43, March 24, 2020, 10.2478/dim-2020-0003, <a
            href="https://content.sciendo.com/downloadpdf/journals/dim/4/1/article-p18.xml"
            target="_blank">https://content.sciendo.com/downloadpdf/journals/dim/4/1/article-p18.xml</a> </li>
    <li>William A. Ingram, Bipasha Banerjee, and Edward A. Fox. "Summarizing ETDs with deep learning." Cadernos BAD 1
        (2019): 46-52 <a href="https://www.bad.pt/publicacoes/index.php/cadernos/article/view/2014"
            target="_blank">https://www.bad.pt/publicacoes/index.php/cadernos/article/view/2014</a> </li>
    <li>Colleen Fallaw, Elise Dunham, Elizabeth Wickes, Dena Strong, Ayla Stein, Qian Zhang, Kyle Rimkus, William A.
        Ingram, and Heidi J. Imker. 2016. "Overly Honest Data Repository Development." The Code4Lib Journal, no. 34, <a
            href="http://journal.code4lib.org/articles/11980"
            target="_blank">http://journal.code4lib.org/articles/11980</a> </li>
    <li>Thomas Habing, Janet Eke, Matthew A. Cordial, William Ingram, and Robert Manaster. 2009. Developments in Digital
        Preservation at the University of Illinois: The Hub and Spoke Architecture for Supporting Repository
        Interoperability and Emerging Preservation Standards. Library Trends 57, 3 (May 2009), 556–579. <a
            href="https://doi.org/10.1353/lib.0.0052" target="_blank">https://doi.org/10.1353/lib.0.0052</a> </li>
</ul>
<h2>Papers in refereed conference proceedings</h2>
<ul>
    <li>William A. Ingram, Rebecca Dikow, Abigail Potter, Meghan Ferriter and Jill Reilly. 2023. AI and Public Archives:
        Collaborative Leadership for Responsible Adoption. Panel discussion in Proceedings of the 23rd ACM/IEEE-CS Joint
        Conference on Digital Libraries (JCDL 2023), Santa Fe, NM, June 26–30, 2023, IEEE, 323–324. <a
            href="https://doi.org/10.1109/JCDL57899.2023.00079"
            target="_blank">https://doi.org/10.1109/JCDL57899.2023.00079</a></li>
    <li>Satvik Chekuri, Prashant Chandrasekar, Bipasha Banerjee, Sung Hee Park, Nila Masrourisaadat, Aman Ahuja, William
        A. Ingram, and Edward Fox. 2023. Integrated Digital Library System for Long Documents and their Elements. In
        Proceedings of the 23rd ACM/IEEE-CS Joint Conference on Digital Libraries (JCDL 2023), Santa Fe, NM, June 26–30,
        2023, IEEE, 13–24. <a href="https://doi.org/10.1109/JCDL57899.2023.00012"
            target="_blank">https://doi.org/10.1109/JCDL57899.2023.00012</a></li>
    <li>Muntabir Hasan Choudhury, Lamia Salsabil, Himarsha R. Jayanetti, Jian Wu, William A. Ingram, and Edward A. Fox.
        2023. MetaEnhance: Metadata Quality Improvement for Electronic Theses and Dissertations of University Libraries.
        In Proceedings of the 23rd ACM/IEEE-CS Joint Conference on Digital Libraries (JCDL 2023), Santa Fe, NM, June
        26–30, 2023, IEEE, 61–65. <a href="https://doi.org/10.1109/JCDL57899.2023.00019"
            target="_blank">https://doi.org/10.1109/JCDL57899.2023.00019</a></li>
    <li>William Ingram, Jian Wu and Edward Fox. 2023. Maximizing Equitable Reach and Accessibility of ETDs. Poster in
        Proceedings of the 23rd ACM/IEEE-CS Joint Conference on Digital Libraries (JCDL 2023), Santa Fe, NM, June 26–30,
        2023, IEEE, 256–257. <a href="https://doi.org/10.1109/JCDL57899.2023.00049"
            target="_blank">https://doi.org/10.1109/JCDL57899.2023.00049</a></li>
    <li>Aman Ahuja, Kevin Dinh, Brian Dinh, William A. Ingram, and Edward Fox. 2023. A New Annotation Method and Dataset
        for Layout Analysis of Long Documents. In Companion Proceedings of the ACM Web Conference 2023 (WWW ’23
        Companion), Austin, TX, 30 April 30–May 4 2023, ACM, 834–842. <a href="https://doi.org/10.1145/3543873.3587609"
            target="_blank">https://doi.org/10.1145/3543873.3587609</a></li>
    <li>Bipasha Banerjee, William A. Ingram, Jian Wu, and Edward A. Fox. 2022. Applications of data analysis on
        scholarly long documents. In 2022 IEEE International Conference on Big Data (Big Data), Virtual Event, Osaka,
        Japan, Dec 17–20, 2022, IEEE, 2473–2481. <a href="https://doi.org/10.1109/BigData55660.2022.10020935"
            target="_blank">https://doi.org/10.1109/BigData55660.2022.10020935</a></li>
    <li>Lamia Salsabil, Jian Wu, Muntabir Hasan Choudhury, William A. Ingram, Edward A. Fox, Sarah M. Rajtmajer, and C.
        Lee Giles. 2022. A Study of Computational Reproducibility using URLs Linking to Open Access Datasets and
        Software. In Companion Proceedings of the Web Conference 2022 (WWW ’22 Companion), April 25–29, 2022, Virtual
        Event, Lyon, France. ACM, New York, NY, USA, 5 pages. <a href="https://doi.org/10.1145/3487553.3524658"
            target="_blank">https://doi.org/10.1145/3487553.3524658</a></li>
    <li>Sami Uddin, Bipasha Banerjee, Jian Wu, William A. Ingram, and Edward A. Fox. 2021. Building A Large Collection
        of Multi-domain Electronic Theses and Dissertations. In 2021 IEEE International Conference on Big Data (Big
        Data), 6043–6045. <a href="https://doi.org/10.1109/BigData52589.2021.9672058"
            target="_blank">https://doi.org/10.1109/BigData52589.2021.9672058</a> </li>
    <li>Muntabir Hasan Choudhury, Himarsha R. Jayanetti, William A. Ingram, Jian Wu, Edward A. Fox. Automatic Metadata
        Extraction Incorporating Visual Features from Scanned Electronic Theses and Dissertations. In Proceedings of the
        ACM/IEEE Joint Conference on Digital Libraries in 2021. (JCDL ’21). Association for Computing Machinery, New
        York, NY, USA, 565–566. <a href="https://doi.org/10.1109/JCDL52503.2021.00066"
            target="_blank">https://doi.org/10.1109/JCDL52503.2021.00066</a> </li>
    <li>Sampanna Yashwant Kahu, William A. Ingram, Jian Wu, Edward A. Fox. 2021. ScanBank: A Benchmark Dataset for
        Figure Extraction from Scanned Electronic Theses and Dissertations. In Proceedings of the ACM/IEEE Joint
        Conference on Digital Libraries in 2021. (JCDL ’21). Association for Computing Machinery, New York, NY, USA,
        565–566. <a href="https://doi.org/10.1109/JCDL52503.2021.00030"
            target="_blank">https://doi.org/10.1109/JCDL52503.2021.00030</a> </li>
    <li>William A. Ingram and Edward A. Fox. 2020. Preparing Code and Data for Computational Reproducibility. In
        Proceedings of the ACM/IEEE Joint Conference on Digital Libraries in 2020 (JCDL ’20). Association for Computing
        Machinery, New York, NY, USA, 565–566. <a href="https://doi.org/10.1145/3383583.3398714"
            target="_blank">https://doi.org/10.1145/3383583.3398714</a> </li>
    <li>Edward A. Fox and William A. Ingram. 2020. Introduction to Digital Libraries. In Proceedings of the ACM/IEEE
        Joint Conference on Digital Libraries in 2020 (JCDL ’20). Association for Computing Machinery, New York, NY,
        USA, 567–568. <a href="https://doi.org/10.1145/3383583.3398501"
            target="_blank">https://doi.org/10.1145/3383583.3398501</a> </li>
    <li>James Tuttle, Yinlin Chen, Tingting Jiang, Lee Hunter, Andrea Waldren, Soumik Ghosh, and William A. Ingram.
        2020. Multi-tenancy Cloud Access and Preservation: Virginia Tech Digital Libraries Platform. In Proceedings of
        the ACM/IEEE Joint Conference on Digital Libraries in 2020 (JCDL ’20). Association for Computing Machinery, New
        York, NY, USA, 557–558. <a href="https://doi.org/10.1145/3383583.3398624"
            target="_blank">https://doi.org/10.1145/3383583.3398624</a> </li>
    <li>Muntabir Hasan Choudhury, Jian Wu, William A. Ingram, and Edward A. Fox. 2020. A Heuristic Baseline Method for
        Metadata Extraction from Scanned Electronic Theses and Dissertations. In Proceedings of the ACM/IEEE Joint
        Conference on Digital Libraries in 2020 (JCDL ’20). Association for Computing Machinery, New York, NY, USA,
        515–516. <a href="https://doi.org/10.1145/3383583.3398590"
            target="_blank">https://doi.org/10.1145/3383583.3398590</a> </li>
</ul>
<h2>Papers and posters presented at professional meetings</h2>
<ul>
    <li>William A. Ingram, Jian Wu, and Edward A. Fox. 2022. Electronic Theses and Dissertations: A Research Corpus of
        Scholarly Big Data. GL24 — Twenty-Fourth International Conference on Grey Literature, GreyNet International.
        December 5, 2022. Virtual. <a href="https://doi.org/10.5446/59869"
            target="_blank">https://doi.org/10.5446/59869</a></li>
    <li>Aman Ahuja, William A. Ingram (presenting), Chenyu Mao, Chongyu He, Jianchi Wei, Edward A. Fox. "Analyzing and
        Navigating ETDs Using Topic Models." Paper presented at the 25h International Symposium on Electronic Theses and
        Dissertations. Sept 7-9, 2022. Novi Sad, Serbia. <a href="https://etd2022.uns.ac.rs/"
            target="_blank">https://etd2022.uns.ac.rs/</a></li>
    <li>Bipasha Banerjee (presenting), William A. Ingram and Jian Wu and Ed Fox. "Applications of Mining ETDs." Paper
        presented at the 24rd International Symposium on Electronic Theses and Dissertations. Nov 15-17, 2021. Virtual.
        <a href="https://doi.org/10.26226/morressier.614c9b8c87a68d83cb5d59b2"
            target="_blank">https://doi.org/10.26226/morressier.614c9b8c87a68d83cb5d59b2</a></li>
    <li>William A. Ingram, Sylvester A. Johnson, and Pamela Wright. "Applications of Mining ETDs." Paper presented at
        the 24rd International Symposium on Electronic Theses and Dissertations. Nov 15-17, 2021. Virtual. <a
            href="https://doi.org/10.26226/morressier.614c9b8c87a68d83cb5d59b2"
            target="_blank">https://doi.org/10.26226/morressier.614c9b8c87a68d83cb5d59b2</a></li>
    <li>Yinlin Chen and William A. Ingram. Why and How We Went Serverless, and How You Can Too. CNI: Coalition for
        Networked Information Spring 2021 Membership Meeting, March 15–21, 2021. Virtual. <a
            href="https://www.cni.org/topics/digital-curation/why-and-how-we-went-serverless-and-how-you-can-too"
            target="_blank">https://www.cni.org/topics/digital-curation/why-and-how-we-went-serverless-and-how-you-can-too</a>
    </li>
    <li>William A. Ingram. Mining ETDs for Trends in Graduate Research. CNI: Coalition for Networked Information Fall
        2020 Membership Meeting, November 12, 2020. Virtual. <a
            href="https://www.cni.org/topics/electronic-theses-dissertations-etds/mining-etds-for-trends-in-graduate-research"
            target="_blank">https://www.cni.org/topics/electronic-theses-dissertations-etds/mining-etds-for-trends-in-graduate-research</a>
    </li>
    <li>William A. Ingram and Edward A. Fox (co-presenting). Preparing code and data for computational reproducibility,
        ACM/IEEE Joint Conference on Digital Libraries in 2020 (JCDL ’20), half-day during 1-5 August, Wuhan, China</li>
    <li>Edward Fox and William Ingram (co-presenting). Introduction to Digital Libraries, ACM/IEEE Joint Conference on
        Digital Libraries in 2020 (JCDL ’20), half-day during 1-5 August, Wuhan, China</li>
    <li>William A. Ingram. Bringing Computational Access to Book-length Documents Via an ETD Pilot. CNI: Coalition for
        Networked Information Fall 2019 Membership Meeting. December 9-10, 2019. Washington, DC. <a
            href="https://www.cni.org/topics/electronic-theses-dissertations-etds/bringing-computational-access-to-book-length-documents-via-an-etd-pilot"
            target="_blank">https://www.cni.org/topics/electronic-theses-dissertations-etds/bringing-computational-access-to-book-length-documents-via-an-etd-pilot</a>
    </li>
    <li>William A. Ingram (presenting), Bipasha Banerjee, and Edward A. Fox. "Summarizing ETDs with Deep Learning."
        Paper presented at the 22nd International Symposium on Electronic Theses and Dissertations. November 6-8, 2019.
        Porto, Portugal</li>
    <li>William A. Ingram and Edward A. Fox (co-presenting). "Preparing code and data for computational reproducibility:
        a hands-on workshop." 22nd International Symposium on Electronic Theses and Dissertations. November 6-8, 2019.
        Porto, Portugal</li>
    <li>Nushrat Khan and William A. Ingram. 2015. System Development for Automatic Ingestion of Large Amount of Data and
        Associated Metadata using REST API—Scope of DSpace. Poster presentation at the 2015 Digital Library Federation
        2015 Forum. Vancouver, BC. <a href="http://hdl.handle.net/2142/88928"
            target="_blank">http://hdl.handle.net/2142/88928</a> </li>
    <li>Thomas Habing, Howard Ding, William A. Ingram (presenting), Robert Ferrer. 2012. "Fedora Akubra Storage Plugin
        for the Dell DX Object Storage Platform." Presented at the 7th International Conference on Open Repositories.
        Edinburgh, Scotland </li>
    <li>Sarah Shreeves and William A. Ingram (co-presenting). 2010. "BibApp 1.0 and Beyond: Developing a Piece of the
        Scholarly Communication Toolkit." Presented at the 5th International Conference on Open Repositories. Madrid,
        Spain</li>
    <li>Thomas Habing, Myung-Ja Han, Patricia Hswe, William A. Ingram, and Robert Manaster (all co-presenting).
        "Repository Interoperability and Preservation: The Hub and Spoke Framework." Presented at the 2009 Digital
        Library Federation Spring Forum. Raleigh, NC.</li>
    <li>William A. Ingram. "Hub and Spoke Tool Suite." 2009 PREMIS Implementation Fair. San Francisco, CA.</li>
    <li>Thomas Habing and William A. Ingram (co-presenting). "Preservation Metadata Implementation Scenarios: The Hub
        and Spoke Tool Suite." 2009 Digital Preservation Metadata Workshop. Urbana, IL.</li>
    <li>William A. Ingram. 2009. Invited Guest Lecture. LIS 590 MD, Metadata in Theory & Practice. Instructor: Timothy
        Cole. Graduate School of Library and Information Science. University of Illinois at Urbana-Champaign.</li>
</ul>
<h2>Workshop facilitation</h2>
<ul>
    <li>“Leading the Future of AI and Public Archives: Toward a Shared AI Ethics Framework” A virtual workshop organized
        by Virginia Tech’s University Libraries and Center for Humanities, Smithsonian's OCIO Data Science Lab, Library
        of Congress Labs, and the National Archives Office of Innovation. November 16 and 17, 2022. <a
            href="https://smithsonian.github.io/AIandPublicArchives2022/"
            target="_blank">https://smithsonian.github.io/AIandPublicArchives2022/</a></li>
    <li>“Leading the Future of AI and Public Archives.” A virtual workshop organized by Virginia Tech’s University
        Libraries and Center for Humanities, Smithsonian's OCIO Data Science Lab, Library of Congress Labs, and the
        National Archives Office of Innovation. May 6 and 13, 2022. <a
            href="https://smithsonian.github.io/AIandPublicArchives2022/"
            target="_blank">https://smithsonian.github.io/AIandPublicArchives2022/</a></li>
    <li>“Ensuring Scholarly Access to Government Archives and Records.” A Collaboration of Virginia Tech and the
        National Archives and Records Administration. Sponsored by the Andrew W. Mellon Foundation. Five-day virtual
        workshop in April–May 2021. <a href="https://lib.vt.edu/research-teaching/computational-archives-workshop.html"
            target="_blank">https://lib.vt.edu/research-teaching/computational-archives-workshop.html</a></li>
</ul>
<h2>Conference tutorials</h2>
<ul>
    <li>William A. Ingram and Edward A. Fox (co-presenting). Preparing code and data for computational reproducibility.
        Half-day tutorial presented at ACM/IEEE Joint Conference on Digital Libraries in 2020, Virtual Event, China,
        August 1–5, 2020. <a href="https://2020.jcdl.org/AcceptedTutorials.html"
            target="_blank">https://2020.jcdl.org/AcceptedTutorials.html</a></li>
    <li>Edward Fox and William A. Ingram (co-presenting). Introduction to Digital Libraries. Half-day tutorial presented
        at ACM/IEEE Joint Conference on Digital Libraries in 2020, Virtual Event, China, August 1–5, 2020. <a
            href="https://2020.jcdl.org/AcceptedTutorials.html"
            target="_blank">https://2020.jcdl.org/AcceptedTutorials.html</a></li>
    <li>William A. Ingram and Edward A. Fox (co-presenting). Preparing code and data for computational reproducibility:
        a hands-on workshop. 22nd International Symposium on Electronic Theses and Dissertations. November 6-8, 2019.
        Porto, Portugal. <a href="http://etd2019.upt.pt/keynote-speakers-guests/"
            target="_blank">http://etd2019.upt.pt/keynote-speakers-guests/</a></li>
</ul>
<h2>Other papers and reports</h2>
<ul>
    <li>William A. Ingram and Sylvester A. Johnson. 2021. Ensuring Scholarly Access to Government Archives and Records.
        Final report to the Andrew W. Mellon Foundation. January 31, 2022. <a href="http://hdl.handle.net/10919/108067"
            target="_blank">http://hdl.handle.net/10919/108067</a></li>
    <li>Naman Ahuja, Ritesh Bansal, William A. Ingram, Palakh Jude, Sampanna Kahu, and Xinyue Wang. "Big Data Text
        Summarization: Using Deep Learning to Summarize Theses and Dissertations." <a
            href="http://hdl.handle.net/10919/86406" target="_blank">http://hdl.handle.net/10919/86406</a> </li>
    <li>John Aromando, Bipasha Banerjee, William A. Ingram, Palakh Jude, and Sampanna Kahu. 2020. "Classification and
        extraction of information from ETD documents." <a href="http://hdl.handle.net/10919/96645"
            target="_blank">http://hdl.handle.net/10919/96645</a> </li>
</ul>