<aside class="flex-shrink-0 col-md-3">
  <div class="d-flex flex-row flex-md-column">
    <div id="profile_image" class="d-flex mb-3 mb-md-0 col-4 col-sm-3 col-md-12 me-2 me-md-0 mt-3">
      <div class="position-relative d-inline-block col-12 mr-0 flex-shrink-0">
        <img style="height:auto;border-radius:50%!important;" alt="" width="260" height="260"
          class="u-photo avatar avatar-user width-full border color-bg-primary" itemprop="image"
          src="//avatars.githubusercontent.com/u/371268?v=4">
      </div>
    </div>
    <div id="profile_desc" class="d-block col-8 col-sm-9 col-md-12 py-3 js-sticky js-user-profile-sticky-fields"
      style="position: sticky;">
      <h1>
        <span class="p-name d-block overflow-hidden" itemprop="name">
          <span class="p-given-name" itemprop="givenName">William</span> <span class="p-additional-name">A.</span> <span class="p-family-name" itemprop="familyName">Ingram</span>
        </span>
        <!-- <span class="p-nickname vcard-username d-block" itemprop="additionalName">
        waingram
      </span> -->
      </h1>
      <p class="border-bottom border-top color-border-secondary pt-3 pb-3 m-0">
        <span class="p-job-title" itemprop="jobTitle">Associate Professor</span><br>
        <span class="p-job-title" itemprop="jobTitle">Associate Dean and Executive Director for Information Technology</span><br>
        <span class="p-org" itemprop="affiliation">University Libraries, Virginia Tech</span><br>
        <span class="p-adr" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
          <span class="p-street-address" itemprop="streetAddress">Newman Library, 2320A Torgersen Hall<br>
            560 Drillfield Drive</span><br>
          <span class="p-locality" itemprop="addressLocality">Blacksburg</span>, <span class="p-region" itemprop="addressRegion">VA</span>
          <span class="p-postal-code" itemprop="postalCode">24061</span>
        </span><br>
        <a class="u-email" href="mailto:waingram@vt.edu" itemprop="email">
          waingram@vt.edu</a>
      </p>
    </div>

    <ul class="nav nav-pills flex-column mb-auto social-icons d-none d-sm-block">
      <li>
        <a href="//en.wikipedia.org/wiki/Blacksburg,_Virginia" class="nav-link link-dark" itemprop="homeLocation">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
          </svg>
          <span class="label">Blacksburg, VA</span>
        </a>
      </li>
      <li>
        <a href="//orcid.org/0000-0002-8307-8844" class="nav-link link-dark" itemprop="sameAs">
          <i class="ai ai-orcid"></i>
          <span class="label">ORCID</span>
        </a>
      </li>
      <li>
        <a href="//scholar.google.com/citations?user=L-R5NXwAAAAJ" class="nav-link link-dark" itemprop="sameAs">
          <i class="ai ai-google-scholar"></i>
          <span class="label">Google Scholar</span>
        </a>
      </li>
      <li>
        <a href="//dblp.uni-trier.de/pid/271/4720.html" class="nav-link link-dark" itemprop="sameAs">
          <i class="ai ai-dblp"></i>
          <span class="label">DBLP</span>
        </a>
      </li>
      <li>
        <a href="//www.scopus.com/authid/detail.uri?authorId=57219743375" class="nav-link link-dark"
          itemprop="sameAs">
          <i class="ai ai-scopus"></i>
          <span class="label">Scopus</span>
        </a>
      </li>
      <li>
        <a href="//www.linkedin.com/in/waingram/" class="nav-link link-dark" itemprop="sameAs">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin"
            viewBox="0 0 16 16">
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
          </svg>
          <span class="label">LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="//github.com/waingram" class="nav-link link-dark" itemprop="sameAs">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
            viewBox="0 0 16 16">
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
          </svg>
          <span class="label">GitHub</span>
        </a>
      </li>
      <li>
        <a href="//bsky.app/profile/waingram.bsky.social" class="nav-link link-dark" itemprop="sameAs">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
          viewBox="0 0 576 512">
          <path d="M123.6 34.5c66.4 50.1 137.9 151.5 164.2 206C314 186 385.5 84.5 452 34.5c48-36.1 125.6-64.1 125.6 24.9c0 17.8-10.1 149.2-16.1 170.5c-20.7 74.2-96.1 93.1-163.1 81.6c117.2 20 147 86.3 82.6 152.6C358.7 590 305.2 432.5 291.5 392.1c-2.5-7.5-3.7-10.9-3.7-7.9c0-3.1-1.2 .4-3.7 7.9C270.4 432.5 216.9 590 94.6 464.1C30.2 397.8 60 331.5 177.2 311.5C110.2 322.9 34.8 304 14.1 229.8C8.1 208.5-2 77.1-2 59.3c0-88.9 77.7-61 125.6-24.9z"/></svg>
          <span class="label">Bluesky</span>
        </a>
      </li>
      <li>
        <a href="//www.strava.com/athletes/waingram" class="nav-link link-dark" itemprop="sameAs">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
            viewBox="0 0 24 24">
            <path   
            d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169" />
          </svg>
          <span class="label">Strava</span>
        </a>
      </li>
    </ul>
  </div>
  </aside>