<span id="{{entry.key}}" class="hosted-workshop">
  <!-- Title of the workshop -->
  &ldquo;<span class="workshop-title">{{ entry.title }}</span>.&rdquo;

  <!-- Date of the workshop -->
  {%- if entry.date %}
  <span class="date">
    <!-- Start date -->
    {%- assign formatted_start = entry.date | date: "%B %e, %Y" %}

    {%- if entry.enddate %}
    {%- assign formatted_end = entry.enddate | date: "%B %e, %Y" %}
    {{ formatted_start }}&ndash;{{ formatted_end }}
    {%- else %}
    {{ formatted_start }}
    {%- endif -%}
  </span>.
  {%- endif %}

  <!-- Location of the workshop -->
  {%- if entry.location %}
  <span class="location">{{ entry.location }}</span>.
  {%- endif %}

  <!-- Organizers -->
  {%- if entry.author %}
  <span class="organizers">
    {%- assign authors = entry.author | split: ' and ' %}
    {%- assign total_authors = authors | size | minus: 1 %}
    {%- for author in authors %}
    {%- assign parts = author | split: ', ' %}
    <span>
      <span>{{ parts[0] | strip }}</span>
      {%- if parts.size > 1 -%}
      , <span>
        <span>{{ parts[1] | strip }}</span></span>
      {%- endif -%}
    </span>
    {%- unless forloop.last %}
    {%- if forloop.index < total_authors -%} ; {%- else -%} {%- if total_authors==0 -%} {%- elsif total_authors==1 %}
      and {%- else -%} ; and {%- endif %} {%- endif %} {%- endunless %} {%- endfor -%} . </span>
      {%- endif %}

      <!-- Note -->
      {%- if entry.note %}
      <span class="description">{{ entry.note }}</span>
      {%- endif %}

      <!-- URL -->
      {%- if entry.url %}
      <a href="{{ entry.url }}" target="_blank">{{ entry.url | replace: "https://", "" }}</a>.
      {% endif %}
  </span>
