<span id="{{entry.key}}" itemscope itemtype="https://schema.org/Report">
  <!-- Author(s) -->
  {% include author_block.html entry=entry %}

  <!-- Year of publication -->
  <span class="year"><span itemprop="datePublished">{{ entry.year | default: "n.d." }}</span>.</span>

  <!-- Title of the report -->
  &ldquo;<span class="title" itemprop="headline">{{ entry.title | default: "Untitled Report" }}</span>.&rdquo;

  <!-- Report type -->
  {%- if entry.type %}
  <meta itemprop="genre" content="{{ entry.type }}" />
  {%- endif %}

  <!-- Organization or sponsor -->
  {%- if entry.institution %}
  <span class="institution" itemprop="provider" itemscope itemtype="https://schema.org/Organization">
    <span itemprop="name">{{ entry.institution }}</span></span>.
  {%- endif %}

  <!-- Location -->
  {%- if entry.address %}
  <span class="location" itemprop="locationCreated" itemscope itemtype="https://schema.org/Place">
    <span itemprop="name">{{ entry.address }}</span></span>,
  {% endif %}

  <!-- Page numbers -->
  {%- if entry.pages -%}
  {%- assign page_range = entry.pages | split: "–" -%}
  {%- if page_range.size == 2 -%}
  pp. <span itemprop="pageStart">{{ page_range[0] }}</span>&ndash;<span itemprop="pageEnd">{{ page_range[1] }}</span>
  {%- else -%}
  pp. <span itemprop="pageStart">{{ entry.pages }}</span>
  {%- endif -%}
  {%- endif %}
  {%- if entry.address or entry.institution -%}
  .
  {%- endif -%}

  <!-- Sponsor acknowledgement -->
  {%- if entry.note %}
  <span class="note">{{ entry.note }}</span>
  {%- endif %}

  <!-- DOI or URL -->
  {%- if entry.doi %}
  <a href="https://doi.org/{{ entry.doi }}" itemprop="sameAs" target="_blank">{{ entry.doi }}</a>
  {% elsif entry.url %}
  <a href="{{ entry.url }}" itemprop="url" target="_blank">{{ entry.url | replace: "https://", "" }}</a>
  {% endif %}
</span>